{% extends base_template %}
{% load i18n %}

{% block content %}

<h1>
  {% if provider.icon %}
  <img style="vertical-align: text-top; height: 1em" class="mr-2" src="{{STATIC_URL}}{{provider.icon}}"></img>
  {% else %}
  <span class="mr-2 fa fa-sign-in"></span>
  {% endif %}

  {% blocktrans with name=provider.name %}Manage {{name}} identity{% endblocktrans %}
</h1>

<form method="POST" action="{{request.build_absolute_uri}}">{% csrf_token %}

<p class="lead mt-3">
Unlink {{provider.name}} login from <a href="{{identity.person.get_absolute_url}}">{{identity.person}}</a>?
</p>

{% if is_last %}
<p class="lead text-danger">
Note that no logins will remain that will give access to <a href="{{identity.person.get_absolute_url}}">{{identity.person}}</a>!
</p>
{% endif %}

    <button class="btn btn-large btn-primary" type="submit"><span class="fa fa-unlink"></span> {% trans "Unlink" %}</button>
    <a class="btn btn-large btn-secondary" href="{% url 'signon:login' %}"><span class="fa fa-times"></span> {% trans "Cancel" %}</a>
</form>

{% endblock %}
