{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Claim identifiers</h1>

<p class="lead">
{% blocktrans %}
Associate identifiers to yourself or other people. As Debian Developer, you can
associate any identifier to any person: you can use this to help friends or
people in your teams get credited.
<b>Always ask</b> before associating an identifier to a person other than
you: do not associate people without their consent.
{% endblocktrans %}
</p>

<form method="POST" action="{{request.build_absolute_uri}}">{% csrf_token %}
  {% for f in form.hidden_fields %}{{f}}{% endfor %}
  {% for field in form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-10">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
  </div>
  {% endfor %}

<hr class="my-4">


<button type="submit" name="action" value="claim" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
<button type="submit" name="action" value="unclaim" class="btn btn-primary btn-lg"><span class="fa fa-unlink"></span> {% trans "Unclaim" %}</button>
</form>

</div>

{% endblock %}
