{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<div class="container-fluid">

<h1>User settings for '{{source.name}}'</h1>

<p class="lead">
From here you can control if you are hidden in {{source.name}}.
</p>

<form method="POST" action="{% url 'sources:user_settings' sname=source.name %}">{% csrf_token %}

<div class="form-group form-check">
<input type="checkbox" class="form-check-input" name="hide" {% if settings and settings.hidden %}checked="checked"{% endif %}>
<label class="form-check-label" for="hide">Hide your contributions in {{source.name}}</label>
</div>

<button class="btn btn-primary">{% trans "Submit" %}</button>

</form>

</div>

{% endblock %}

