{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Debian Contributors '{{source.name}}' data source</h1>

<p class="lead">
  <i>{{source.desc}}</i>

  {% if source.url %}
  (<a href="{{source.url}}">more info</a>)
  {% endif %}
</p>

<h2>Contribution types</h2>

<table id="ctypes" class="table table-sm tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    {% for c in ctypes %}
    <tr>
      <td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
      <td>{{c.desc}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Contributors</h2>
<p>{{contribs.count}} known contributors:</p>

<table id="contribs" class="table table-sm tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for c in contribs %}
    <tr>
      <td><a href="{{c.user_url}}">{{c.user__full_name|default:c.user__username}}</a></td>
      <td data-sort="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td data-sort="{{c.until|date:"Ymd"}}">{{c.until}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if can_admin %}
<h2>Unmapped contributors</h2>

<p>Last {{unassociated.count}} contributors which we could not map to a Debian or Alioth account:</p>

<table id="contribs" class="table table-sm tablesorter">
<thead>
  <tr>
    <th>Name</th>
    <th>Since</th>
    <th>Until</th>
    <th>Type</th>
  </tr>
</thead>
<tbody>
    {% for u in unassociated %}
    <tr>
      <td>{{u.identifier__name}}</a></td>
      <td data-sort="{{u.begin|date:"Ymd"}}">{{u.begin}}</td>
      <td data-sort="{{u.until|date:"Ymd"}}">{{u.until}}</td>
      <td data-sort="{{u.type__name}}">{{u.type__name}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
