{% extends "debian-bootstrap4-base.html" %}
{% load i18n %}

{% block navbar_brand_url %}{% url 'contributors' %}{% endblock %}

{% block title %}{% trans "Debian Contributors" %}{% endblock %}

{% block head %}
{{block.super}}
<link rev="made" href="mailto:nm@debian.org">
<link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}css/dc.css">
<script src="{{STATIC_URL}}js/dc.js"></script>
{% endblock %}

{% block nav_searchbox %}{% comment %}No search feature in Contributors site yet{% endcomment %}{% endblock %}

{% block nav_left_items %}{# Top links #}
  <li class="nav-item"><a class="nav-link" href="{% url 'contributors' %}"><span class="fa fa-users"></span> {% trans "Contributors" %}</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'sources:list' %}"><span class="fa fa-address-book"></span> {% trans "Data sources" %}</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'site_status' %}"><span class="fa fa-tachometer"></span> {% trans "Site status" %}</a></li>  
  <li class="nav-item"><a class="nav-link" href="https://nm.debian.org/members"><span class="fa fa-certificate"></span> {% trans "Official members" %}</a></li>
{% endblock %}

{% block nav_right_items %}{# Visitor menu #}

{% if not user.is_authenticated %}
<li class="nav-item"><a href="{% url 'signon:login' %}"><span class="fa fa-sign-in"></span> {% trans "Login" %}</a></li>
{% else %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-user-circle"></span>
    {{user.username}}
  </a>
  <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdown">
  {% block visitor_menu %}
    {% if request.impersonator %}
    <form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
      <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
      <button class="dropdown-item btn btn-link" type="submit"><span class="fa fa-random"></span> (really {{request.impersonator}})</button>
    </form>
    {% endif %}
    <a class="dropdown-item" href="{{user.get_absolute_url}}"><span class="fa fa-user"></span> {% trans "Personal page" %}</a>
    <a class="dropdown-item" href="{% url 'claim:claim' %}"><span class="fa fa-user-plus"></span> {% trans "Associate identifiers" %}</a>
    <a class="dropdown-item" href="{% url 'signon:login' %}"><span class="fa fa-sign-in"></span> {% trans "Logins" %}</a>
    <form class="form-inline" method="POST" action="{% url "signon:logout" %}">{% csrf_token %}
      <input type="hidden" name="next" value="{% url 'contributors' %}">
      <button class="btn btn-link dropdown-item" method="submit"><span class="fa fa-sign-out"></span> {% trans "Logout" %}</button>
    </form>
  {% endblock %}
  </div>
</li>
{% endif %}

{% endblock %}

{% block content %}
<h1>Debian Contributors Website Template</h1>
{% endblock %}

{% block page_lead %}
{{super}}
{% if user.impersonator %}
<div id="impersonation" class="container-fluid bg-warning">
<span class="badge badge-pill badge-light"><span class="fa fa-random"></span> {{user.impersonator.a_link}} as {{visitor.a_link}}</span>
<form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
  <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
  <button class="badge badge-pill badge-primary" type="submit">{% trans "Cancel" %}</button>
</form>
<br>
{% for perm in visit_perms %}<span class="badge badge-pill badge-info mr-1">{{perm}}</span>{% endfor %}
</div>
{% endif %}

{# {% if messages %} #}
<div aria-live="polite" aria-atomic="true" style="position: relative">
  <div style="position: absolute; top: 0; right: 0;">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <span class="fa fa-{% if message.level_tag == 'info' %}info-circle{% else %}warning{% endif %} mr-1"></span>
        <strong class="mr-auto">{{message.level_tag}}</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        {{message}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{# {% endif %} #}
{% endblock %}


{% block footer %}
<div class="card-body">
{% url 'root_license' as root_license_url %}
<p class="card-text"><small>
{% blocktrans with root_license_url=root_license_url %}
<a href="{{root_license_url}}">Copyright</a> © 2012--2024 <a href="https://wiki.debian.org/Teams/FrontDesk">Debian Front Desk</a>.
Source code is <a href="https://salsa.debian.org/nm-team/contributors.debian.org">available on Salsa</a>
Report bugs on <a href="https://salsa.debian.org/nm-team/contributors.debian.org/-/issues">Salsa</a> or on the <a href="http://bugs.debian.org/nm.debian.org">Debian BTS</a>.
{% endblocktrans %}
</small>
</p>
</div>
{% endblock %}
